<!-- Create New Gas Item -->
<form>
	<input type="text" ng-model="item.numGallons" placeholder="Number of Gallons"/>
	<input type="text" ng-model="item.pricePerGallon" placeholder="Price per Gallon"/>
	<input type="text" ng-model="item.milesDriven" placeholder="Miles Driven"/>
	<input type="text" ng-model="item.mpg" placeholder="Miles per Gallon"/>
	<input type="submit" ng-click="vm.createItem(item); item = {}" value="Create Item" />
</form>
<br>

<!-- Table of All Todo Items -->
<table>
	<thead>
		<tr>
			<th>id</th>
			<th>Gallons</th>
			<th>price per gallon</th>
			<th>miles driven</th>
			<th>miles per gallon</th>
		</tr>
	</thead>
	<tbody>
		<tr ng-repeat="item in vm.gas">
			<td ng-click="vm.displayGas(todo)">{{item.id}}</td>
			<td>{{item.numGallons}}</td>
			<td>{{item.pricePerGallon}}</td>
			<td>{{item.milesDriven}}</td>
			<td>{{item.mpg}}</td>
			<td><button ng-click="vm.deleteGas(item.id)">Delete</button></td>
			
		</tr>
	</tbody>
	
</table>