<!-- Create New Gas Item -->
<div ng-show="!vm.selected">
	<h1>{{ 'Welcome to GasTracker!' }}</h1>
	<h3>{{'Enter Data into fields to create a new item'}}</h3>

	<form>
		<input type="text" ng-model="item.numGallons" placeholder="Number of Gallons"/>
		<input type="text" ng-model="item.pricePerGallon" placeholder="Price per Gallon"/>
		<input type="text" ng-model="item.milesDriven" placeholder="Miles Driven"/>
		<input type="text" ng-model="item.mpg" placeholder="Miles per Gallon"/>
		<input type="submit" ng-click="vm.createItem(item); item = {}" value="Create Item" />
	</form>
</div>
<br>

<!-- Show Detailed View -->
<div ng-show="vm.selected">
	<h3>Item: "{{vm.selected.id}}"</h3>
	<h3>Gallons: "{{vm.selected.numGallons}}"</h3>
	<h3>PPG: "{{vm.selected.pricePerGallon}}"</h3>
	<h3>Miles: "{{vm.selected.milesDriven}}"</h3>
	<h3>MPG: "{{vm.selected.mpg}}"</h3>
	
	<button ng-click="vm.setEditGas(vm.selected)">Edit</button>
	<button ng-click="vm.displayTable()">Back</button>
</div>

<!-- Edit Gas Item -->
<form ng-show="vm.editGas">
  <input type="text" ng-model="vm.editGas.numGallons" /><br />
  <input type="text" ng-model="vm.editGas.pricePerGallon" /><br />
  <input type="text" ng-model="vm.editGas.milesDriven" /><br />
  <input type="text" ng-model="vm.editGas.mpg" /><br />
  <input type="submit" ng-click="vm.setEditNull()" value="Cancel" />
  <input type="submit" ng-click="vm.updateGas(vm.editGas)" value="Save" />
</form>



<!-- Table of All Gas Items -->
<div ng-show="!vm.selected">
	<h3>Click on an item to show detailed view</h3>
	<table>
		<thead>
			<tr>
				<th>Item id</th>
			</tr>
		</thead>
		<tbody>
			<tr ng-repeat="item in vm.gas">
				<td ng-click="vm.detailGas(item)">Item: {{item.id}}</td>
				<td><button ng-click="vm.deleteGas(item.id)">Delete</button></td>
			</tr>
		</tbody>
	</table>
</div>

<!-- Total each column in table -->
<div ng-show="!vm.totalButton">
	<button ng-click="vm.showTotalTable()">Total All</button><br>
</div>

<div ng-show="vm.totalButton">
	<h3>Total All Columns</h3>
	<table>
		<thead>
			<tr>
				<th>Item id</th>
				<th>Gallons</th>
				<th>PPG</th>
				<th>Miles Driven</th>
				<th>MPG</th>
			</tr>
		</thead>
		<tbody>
			<tr ng-repeat="item in vm.gas">
				<td>Item: {{item.id}}</td>
				<td>{{item.numGallons}}</td>
				<td>{{item.pricePerGallon}}</td>
				<td>{{item.milesDriven}}</td>
				<td>{{item.mpg}}</td>
			</tr>
			<tr>
				<td>Total:</td>
				<td>{{vm.totalGal}}</td>
				<td>{{vm.totalPrice}}</td>
				<td>{{vm.totalMiles}}</td>
				<td>{{vm.totalMPG}}</td>
			</tr>
		<td><button ng-click="vm.totalAllColumns()">Total</button></td>
		</tbody>
	</table>
	<button ng-click="vm.displayTable()">Back</button>

</div>










